#style{border: 2px solid black;
    border-radius:100px ;}
ul  {
    color: blue; 
 }
 h4{
     color: brown;
 }
body{
    
    background-color:beige;
}
hr{
    color: chartreuse;
}
#first{
    
    color: brown;
}